<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View CSV Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="css2" style="position: absolute;">
        <h1>CSV Data</h1>
        <table >
            <thead>
                <tr>
                    {% for header in csv_data[0].keys() %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in csv_data %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('start_screen') }}" method="get">
            <button type="submit" class="button">Home</button>
        </form>
    </div>
</body>
</html>
